

.bg-image {

	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	object-fit: contain;
	background-repeat: repeat;

}

h1, p {
	color:powderblue;
}

.my-5 {
		position: 0px 0px absolute;

	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	background-color: mediumpurple;
	width:90%;
}

.textcontent {
	
}

.imgblock {
	width:100%;
	padding-bottom: 1.66em;
}

img .imgblock {
	width: 100%;
}

.buttons {
	padding-bottom: 2em;
}