

.bg-image {
	width: 100vh;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	object-fit: contain;
}

h1, p {
	color:powderblue;
}

.my-5 {
		position: 0px 0px absolute;

	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	background-color: mediumpurple;
	width:90%;
}